@import '../../../constants/styleConstants.scss';


    //NavBarElement
    .NavBarElement {

        //Object
        display: flex;
        box-sizing: border-box;

        //Object size
        width: 400px;
        
        //Content position
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 10px;

        //Color
        background-color: $primary-dark;
        color: white;

        //Border
        border-bottom: 3px solid $primary-base;
        border-right: 2px solid $primary-base;


        //Hover
        &:hover {

            color: $secondary-light;
            background-color: $primary-light;
            cursor: pointer;
        }

         &:active {

            color: $secondary-base;
            background-color: $primary-light;
            cursor: pointer;
        }


        //NavBarElementIcon
        > .NavBarElementIcon {
            //Object position
            margin-right: 40px;

            //Object size
            width: 20%;

            //Object content
            text-align: center;
            font-size: 30px;
        }


        //NavBarElementText
        .NavBarElementText {
            //Object content
            font-size: 25px;
        } 
    }
