@import '../../constants/styleConstants.scss';




.News {
    //Content position
    //padding: 5px;


    //NewsHealder
    > .NewsHeader {
        //Text
        font-size: 30px;
        font-weight: bold;
        text-align: center;

        //Object position
        margin-bottom: 5px;
    }


    //NewsElementContainer
    > * ~ .NewsElementContainer {
        //Object
        display: flex;

        //Object postition
        margin-left: auto;
        margin-right: auto;

        //Object content
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


    //PageSelectorContainer
    > * ~ .PageSelectorContainer {
        //Object size
        width: 100%;


        //Object content
        text-align: center;


        //Border
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        background-color: $primary-dark;


        //page
        .page {
            //Color
            color: white;//$primary-text;

            
            //Object position
            margin-right: 20px;
        }

        
        //page-current
        a.page-current{
            @extend .page;

            //Color
            color: red;//$secondary-base;
        }
    }
}