//Colors
//Primary
$primary-base: #2196f3;
$primary-light: #6ec6ff;
$primary-dark: #0069c0;
$primary-text: #000000;

//Secondary
$secondary-base: #f57f17;
$secondary-light: #ffb04c;
$secondary-dark: #bc5100;
$secondary-text: #000000;